<div class="container-lg p-responsive position-relative">

  <div class="jumbotron" style="margin-bottom: 0px;">
    <h1>PMP Study Tracker</h1>
    <p>Let's complete the project!</p>
  </div>
  <!-- login -->
  <div class="d-md-flex flex-items-center gutter-md-spacious">
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title">Sign in</h5>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

        <dl class="form-group mt-0 errored">
          <dt class="input-label">
            <label class="form-label h5" for="user[login]">Username</label>
          </dt>
          <dd>
            <input type="text" name="user[login]" id="user[login]"
              class="form-control form-control-lg input-block is-autocheck-errored" autocomplete="off"
              spellcheck="false">
          </dd>

          <dd class="error">
            <div class="m-1">
              <div class="mb-1">Username may only contain alphanumeric characters or single hyphens, and cannot begin or
                end with a hyphen.</div>
            </div>
          </dd>
        </dl>

      </div>
    </div>
  </div>
</div>