<h2>
  User Topics 
</h2>
<div class="example-button-row">
  <button mat-stroked-button (click)="changeStatus(Status_ToDo)" [disabled]="!rowIsSelected">{{Status_ToDo}}</button>
  <button mat-stroked-button (click)="changeStatus(Status_InProgress)" [disabled]="!rowIsSelected">{{Status_InProgress}}</button>
  <button mat-stroked-button (click)="changeStatus(Status_Done)" [disabled]="!rowIsSelected">{{Status_Done}}</button>
</div>

<table class="table table-hover">
  <thead>
    <th>Topic Number</th>
    <th>Name</th>
    <th>Area</th>
    <th>Group</th>
    <th>Status</th>
    <th>Start Date</th>
    <th>Finish Date</th>
    <th>Remarks</th>
  </thead>
  <tbody>
    <tr *ngFor="let utItem of usertopics | async; let i = index" (click)="setClickedRow(i, utItem)" [class.active]="i == selectedRow">
    
      <td>{{utItem.code}}</td>
      <td>{{utItem.name}}</td>
      <td>{{utItem.area}}</td>
      <td>{{utItem.procgroup}}</td>
      <td>{{utItem.status}}</td>
      <td>{{utItem.startDate? (utItem.startDate.toMillis() | date) : ''}}</td>
      <td>{{utItem.finishDate? (utItem.finishDate.toMillis() | date) : ''}}</td>
      <td>{{utItem.remarks}}</td>
    </tr>
  </tbody>
</table>