<h2>
  User Topics 
</h2>
<table class="table table-hover">
  <thead>
    <th>Topic Number</th>
    <th>Name</th>
    <th>Area</th>
    <th>Group</th>
    <th>Status</th>
    <th>Start Date</th>
    <th>Finish Date</th>
    <th>Remarks</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let utItem of usertopics | async">
    
      <td>{{utItem.code}}</td>
      <td>{{utItem.name}}</td>
      <td>{{utItem.area}}</td>
      <td>{{utItem.procgroup}}</td>
      <td>{{utItem.status}}</td>
      <td>{{utItem.startDate? (utItem.startDate.toMillis() | date) : ''}}</td>
      <td>{{utItem.finishDate? (utItem.finishDate.toMillis() | date) : ''}}</td>
      <td>{{utItem.remarks}}</td>
      <td><a class="btn text-danger" (click)="onEdit(utItem.id, utItem)"><i class="fa fa-pencil">Edit</i></a></td>
    </tr>
  </tbody>
</table>