<div class="container-fluid">
  <h2>
    Topics
  </h2>

  <div class="">
    <h6>Import from CSV file:</h6>
    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
      accept=".csv" />
  </div>
  <div class="mt-4">
    <div class="row ml-2">
      <span class="float-right">
        <input type="text" [(ngModel)]="topicsSearch" placeholder="Search"> {{topicsSearch}}
      </span>
      <span class="float-right badge-primary ml-2 pl-2 pr-2" title="Number of records">{{topicsCount}} </span>
    </div>
    <div class="mt-2">
    <table class="table table-hover">
      <thead>
        <th>Topic Code</th>
        <th>Name</th>
        <th>Knowledge Area</th>
        <th>Process Group</th>
      </thead>
      <tbody>
        <!-- <li *ngFor="let item of items | myfilter:filterargs"> -->
        <tr *ngFor="let utItem of topics | async | stsearch : topicsSearch | orderBy: order">
          <!-- <tr *ngFor="let utItem of topics | async | filter : topicsSearch"> -->
          <td>{{utItem.code}}</td>
          <td>{{utItem.name}}</td>
          <td>{{utItem.area}}</td>
          <td>{{utItem.procgroup}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>