<h2>
  Topics
</h2>

<div class="">
  <h6>Import from CSV file:</h6>
  <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
</div>
<div class="mt-4">
<table class="table table-hover">
  <thead>
    <th>Topic Code</th>
    <th>Name</th>
    <th>Knowledge Area</th>
    <th>Process Group</th>
  </thead>
  <tbody>
    <tr *ngFor="let utItem of topics | async">
      <td (click)="onEdit(utItem)">{{utItem.code}}</td>
      <td (click)="onEdit(utItem)">{{utItem.name}}</td>
      <td (click)="onEdit(utItem)">{{utItem.area}}</td>
      <td (click)="onEdit(utItem)">{{utItem.procgroup}}</td>
    </tr>
  </tbody>
</table>
</div>