/* You can add global styles to this file, and also import other style files */

.table tr.active td {
    background-color:#86bdf2 !important;
    color: white;
  }

  thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
  
    span {
      visibility: hidden;
    }
  
    &.active {
      color: #000;
  
      span {
        visibility: visible;
      }
    }
  }  